.launch-screen {
    background-image: url(../images/launch-screen/background.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.launch-screen__menu {
    height: 15vh;
    background-color: #fff;
    opacity: 0.9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.launch-screen__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
        margin-left: 10px;
        width: 50%;
        line-height: 16px;
        font-size: 14px;
    }
}

.launch-screen__icons {
    display: flex;

    p {
        width: 40%;
    }

    img {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.launch-screen__call {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        h2 {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            margin: 0;
        }

        div {
            display: flex;
            align-items: center;

            img {
                margin-right: 5px;
            }
        }
    }

    button {
        padding: 15px 28px;
        padding-top: 19px;
        margin-left: 22px;
    }
}

.launch-screen__main {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
        font-size: 40px;
        line-height: 50px;

        span {
            color: #FFC771;
        }
    }

    p {
        font-size: 25px;
        line-height: 30px;
        margin-top: 26px;
        width: 48%;
    }

    button {
        padding: 28px 29px;
        font-size: 22px;
        margin-top: 40px;
    }
}