.trusted__heading {
    margin-top: 130px;
    margin-bottom: 50px;
}

.trusted {
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trusted__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trusted__card {
    margin-bottom: 50px;
    width: 540px;
    height: 170px;
    background-color: #F9F9F9;
    box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        padding: 25px;
        width: 120px;
        height: 120px;
    }
}

.trusted__btn {
    padding: 32px 68px;
    padding-bottom: 27px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.trusted__text {
    margin-right: 30px;

    h4 {
        font-size: 23px;
        margin-bottom: 5px;
    }

    p {
        margin-top: 0;
        font-size: 19px;
        line-height: 23px;
    }
}