@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  font-family: 'Questrial', sans-serif;
  color: #593F0D;
  overflow-x: hidden;
}

.primary-btn {
  background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border: none;
  border-radius: 14px;
}

.primary-header {
  font-size: 40px;
  line-height: 50px;
}

.font-yellow {
  color: #FFC771;
}

.primary-btn:hover {
  background: #ffc858;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffc858), color-stop(90%, #58a56d), to(#58a56d));
  background: linear-gradient(90deg, #ffc858 50%, #58a56d 90%, #58a56d 100%);
}

.launch-screen {
  background-image: url(../images/launch-screen/background.jpg);
  height: 93vh;
  width: 100vw;
  background-repeat: no-repeat;
}

.launch-screen__menu {
  height: 15vh;
  background-color: #fff;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.launch-screen__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.launch-screen__logo p {
  margin-left: 10px;
  width: 50%;
  line-height: 16px;
  font-size: 14px;
}

.launch-screen__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.launch-screen__icons p {
  width: 40%;
}

.launch-screen__icons img {
  margin-right: 5px;
  margin-left: 5px;
}

.launch-screen__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.launch-screen__call div h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

.launch-screen__call div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.launch-screen__call div div img {
  margin-right: 5px;
}

.launch-screen__call button {
  padding: 15px 28px;
  padding-top: 19px;
  margin-left: 22px;
}

.launch-screen__main {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.launch-screen__main p {
  font-size: 25px;
  line-height: 30px;
  margin-top: 26px;
  width: 48%;
}

.launch-screen__main button {
  padding: 28px 29px;
  font-size: 22px;
  margin-top: 40px;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works h2 {
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
}

.works p {
  margin-top: 7px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.works__item {
  width: 580px;
  height: 410px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  opacity: 16;
}

.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.works__items h3 {
  color: #fff;
  font-size: 33px;
  font-weight: 200;
}

.works__items p {
  font-size: 33px;
  color: #FFC771;
}

.works__items a {
  color: #fff;
  font-size: 20px;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.works__item:nth-child(1):before {
  content: '';
  position: absolute;
  background-image: url(../images/works/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.works__item:nth-child(2):before {
  content: '';
  position: absolute;
  background-image: url(../images/works/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.works__item:nth-child(3):before {
  content: '';
  position: absolute;
  background-image: url(../images/works/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.works__item:nth-child(4):before {
  content: '';
  position: absolute;
  background-image: url(../images/works/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.works__btn {
  margin-top: 60px;
  margin-bottom: 145px;
  padding: 32px 68px;
  padding-bottom: 27px;
}

.rates {
  margin-bottom: 150px;
}

.rates__block-header,
.rates__block-description {
  text-align: center;
}

.rates__block-description {
  font-size: 25px;
  margin-bottom: 35px;
}

.rates__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.rates__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 320px;
  height: 620px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 23px 23px;
}

.rates__services p {
  font-size: 16px;
  line-height: 19px;
  margin-top: 11px;
  margin-bottom: 10px;
}

.rates__btn {
  padding: 20px 58px;
  padding-top: 24px;
  font-size: 14px;
}

.rates__text {
  height: 370px;
  width: 270px;
}

.rates__card-heading h3 {
  margin-bottom: 7px;
}

.rates__card-heading p {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 23px;
}

.calculator {
  margin-bottom: 70px;
}

.calculator__heading {
  text-align: center;
}

.calculator__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 60px;
}

.calculator__form select {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  width: 300px;
  height: 50px;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.calculator__select {
  margin-bottom: 20px;
}

.calculator__select p {
  margin-bottom: 10px;
}

.calculator__btn {
  padding: 20px 27px;
  padding-top: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.calculator-result {
  text-align: center;
}

.calculator-result p {
  font-size: 24px;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 255px;
  height: 7px;
  background: #FFC858;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #593F0D;
  cursor: pointer;
}

.popup {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  min-height: 476px;
  padding: 30px;
  position: relative;
}

.popup__title {
  width: 350px;
}

.popup__title h2 {
  font-size: 28px;
  margin-bottom: 0;
}

.popup__title p {
  margin-top: 9px;
  margin-bottom: 35px;
  font-size: 15px;
}

.popup__close {
  position: absolute;
  right: 14px;
  top: 14px;
  font-size: 14px;
  text-decoration: none;
  color: #933E3E;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup__form input {
  border: none;
  min-width: 350px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #D9D9D9;
  outline: none;
}

.popup__form input::-webkit-input-placeholder {
  color: #A8A8A8;
  font-size: 15px;
}

.popup__form input:-ms-input-placeholder {
  color: #A8A8A8;
  font-size: 15px;
}

.popup__form input::-ms-input-placeholder {
  color: #A8A8A8;
  font-size: 15px;
}

.popup__form input::placeholder {
  color: #A8A8A8;
  font-size: 15px;
}

.popup__btn {
  padding: 32px 56px;
  margin-bottom: 35px;
  margin-top: 55px;
}

.trusted__heading {
  margin-top: 130px;
  margin-bottom: 50px;
}

.trusted {
  margin-left: 120px;
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trusted__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trusted__card {
  margin-bottom: 50px;
  width: 540px;
  height: 170px;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 24px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trusted__card img {
  padding: 25px;
  width: 120px;
  height: 120px;
}

.trusted__btn {
  padding: 32px 68px;
  padding-bottom: 27px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.trusted__text {
  margin-right: 30px;
}

.trusted__text h4 {
  font-size: 23px;
  margin-bottom: 5px;
}

.trusted__text p {
  margin-top: 0;
  font-size: 19px;
  line-height: 23px;
}
/*# sourceMappingURL=styles.css.map */